:root {
    --black-color: black;
    --font-weight: 300;
    --border-test: 2px solid yellow;
    --dark-blue: #476a7a;
    --dark-grey: #202a2c86;
    --light-blue: #2C5364;
    --closetowhite: #6d9eb3;
    --redOrange: rgb(255, 68, 11);
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: var(--font-weight);
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.text {
    color: var(--closetowhite);
    /* color: whitesmoke; */
    /* text-align: center; */
}

.main-content {
    min-height: 100%;
    margin: 0;
    padding: 15px;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 15px;
}

/* main sidebar */
.main-sidebar {
    /* flex: .1; */
    min-height: 250px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-items: space-between; */
    margin: 0;
    padding: 15px;
    /* background-color: rgb(55, 66, 73); */
    background-color: var(--dark-grey);
    border-radius: 10px;
}


.sidebar-title  {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: var(--dark-grey); */
    border-radius: 5px;
    /* transition: all 1s ease; */
}

/* .material-icons {
    text-align: left;
    font-size: 40px;
    color: var(--closetowhite);
    flex: .15;
} */

#sidebar-title-text {
    /* flex: .85; */
    text-align: center;
    color: black;
    /* font-size: 28px; */
    font-weight: var(--font-weight);
    letter-spacing: 1.5px;
}

.sidebar-project-list {
    flex: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* border-radius: 5px; */
    /* background-color: blue; */
}

.sidebar-main-list {
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* color: rgb(55, 66, 73); */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 10px;
    height: 100%;
    
}

.sidebar-list-item {
    margin: 0;
    padding: 0;
    /* padding: 8px; */
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    /* background-color: var(--dark-grey); */
    color: #a3a3a3;
    font-size: 18px;
    font-size: 1.25rem;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ul.sidebar-list-item {
    
} */

ul.sidebar-list-item > li {
    text-indent: -5px;
}

ul.sidebar-list-item > li::before {
    content: "- ";
    color: black;
    text-indent: -5px;
}

#current-p {
    /* background-color: var(--dark-grey); */
    /* gap: 10px; */
    color: white;
    font-size: 1.5rem;
}

.projectName {
    margin: 0 0 0 10px;
    color: black;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 1.5px;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
}

.sidebar-create-new-btn {
    flex: .25;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* background-color: violet; */
}

/* .create-new-btn {
    
    
} */

/* ************************* main body ************************** */
.main-body {
    margin: 0;
    padding: 0;
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-header {
    margin: 0;
    padding: 0 15px 0 15px;
    flex: .30;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-grey);
    
    border-radius: 10px;
}

/* .menu-icon{
    width: 30px;
    height: 30px;
}
#menu-icon {
    background-image: url('./img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
} */

#projectNameHeader {
    color: var(--closetowhite);
    /* color: black; */
    letter-spacing: 1.5px;
    font-size: 1.75rem;
}

#header-text {
    color: white;
    letter-spacing: 1px;
    font-size: 1.25rem;
}




/* main list content */
.main-list-content {
    flex: 2.70;
    /* height: 85%; */
    display: flex;
    flex-direction: column;
    /* border: 10px solid var(--black-color); */
    /* margin: 10px; */
    background-color: var(--dark-grey);
    margin: 0;
    padding: 0;
    border-radius: 10px;
    gap: 10px;
}

.list-container {
    flex: 2.25;
    margin: 0;
    padding: 25px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    /* background-color: var(--dark-grey); */
    border-radius: 5px;
    gap: 50px;
}

.ordered-item-list {
    flex: 2;
    /* height: 100%;
    width: 100%; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 15px;
}







/* *************************** FORM SUBMISSION FOR LIST ITEMS ************************* */
.list-item-options {
    flex: .25;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    padding: 0;
    /* border: 1px solid violet; */
}

.form-main {
    /* justify-content: space-between; */
    gap: 10px;
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid violet; */
    /* align-items: center; */
}

#create-new-item-btn {
    /* width: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.label-new-item {
    text-align: center;
    flex: .1;
}

#input-new-item {
    margin: 0;
    /* padding: 0; */
    border-radius: 5px;
    border: none;
    flex: 1.9;
    background-color: whitesmoke;
    opacity: .8;
}

#input-new-item:checked {
    border: none;
}

#submit-btn {
    flex: .5;
}

#clear-all-items-btn {
    background-color: var(--redOrange);
    color: black;
}


/* ***************************** EACH ITEM ******************************** */
.list-item {
    margin: 0;
    padding: 0 0 0 10px;
    /* list-style-type: none;
    text-decoration: none;
    list-style: none; */
    /* background-color: var(--closetowhite); */
    background-color: var(--dark-blue);
    height: 50px;
    color: var(--black-color);
    letter-spacing: 1px;
    display: flex;
    border-radius: 10px;
    z-index: 2;
    
    /* align-items: center; */
    /* justify-content: space-between; */
    /* font-size: 100%; */
    /* flex: 1.75; */
    transition: all .5s ease;
}

.list-input-container {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-text {
    margin: 0;
    padding: 0;
    color: black;
    letter-spacing: 1.5px;
    flex: 1.75;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


#item-checkbox {
    padding: 0;
    margin: 0;
    border: none;
    background-color: var(--dark-grey);
    -webkit-appearance: none;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 7px;
	border-radius: 5px;
    /* width: 10px;
    height: 10px; */
}

#item-checkbox:checked {
    /* background-color: #e9ecee;
	border: 1px solid #adb8c0; */
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: var(--redOrange);
    
}

#item-checkbox:checked::after {
    color: var(--redOrange);
    content: '\2714';
	font-size: 14px;
    
	/* position: absolute; */
	/* top: 0px;+
	left: 3px; */
	/* color: #99a1a7; */
}
/* 
input[type=checkbox] {
    
} */

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: var(--dark-blue);
    font-size: 1.25rem;
    /* font-size: 100%; */
}

.item-options-container {
    flex: .25;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
    /* height: 100%; */
    gap: 10px;
    background-color: var(--dark-blue);
    border-radius: 0 10px 10px 0;
}

.item-delete-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#delete-item {
    border: none;
    border-radius: 10px;
    background-color: var(--dark-blue);
}


#delete-icon {
    width: 24px;
    height: 24px;
    background-image: url('./img/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    color: white;
}

.expand-icon-btn {
    background-color: var(--dark-blue);
    border: none;
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.expand-icon {
    width: 24px;
    height: 24px;
    background-image: url('./img/chevron-down\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}




.item-details-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--dark-blue); */
    height: 100%;
}
#item-details {
    border: none;
    border-radius: 10px;
}

.item-date-created {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--dark-blue); */
    height: 100%;
}

.expand-container {
    margin: 0;
    padding: 0 8px 0 8px;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    background-color: var(--closetowhite);
    height: 150px;
    color: black;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 85%;
}

.details-container {
    flex: .5;
    /* border: 1px solid var(--closetowhite); */
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    /* align-items: center; */
    border-radius: 5px;
    padding: 10px;
}

.details-title {
    color: var(--closetowhite);
    font-size: 100%;
}


/* ******************** general ********************** */

.display {
    display: none;
    animation: ease-in 1s;
}

.btn {
    background-color: rgb(55, 66, 73);
    background-color: black;
    border: none;
    border-radius: 5px;
    color: var(--closetowhite);
    padding: 10px;
    width: 100px;
    height: 45px;
    font-size: 1rem;
}

.create-new-btn {
    background-color: black;
    color: var(--closetowhite);
}

.item-btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: var(--closetowhite);
    padding: 5px;
    /* width: 50px; */
    width: 65%;
    height: 65%;
    font-size: 75%;
}



