:root {
    --black-color: black;
    --font-weight: 300;
    --border-test: 2px solid yellow;
    --dark-blue: #0F2027;
    --middle-blue: #203A43;
    --light-blue: #2C5364;
    --closetowhite: #598091;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-weight: var(--font-weight);
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

.text {
    color: var(--closetowhite);
    /* color: whitesmoke; */
}

.main-content {
    min-height: 100%;
    margin: 0;
    padding: 10px;
    /* overflow: hidden; */
    display: flex;
    /* flex-direction: column; */
    background-color: black;
    gap: 10px;
}

/* main sidebar */
.main-sidebar {
    /* margin: 10px 0px 10px 10px; */
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* border: 2px solid var(--light-blue); */
    /* background-color: var(--dark-blue); */
    /* filter: blur(50%); */
    gap: 10px;
    border-radius: 5px;
    transition: all 1s ease-in;
}


.sidebar-title  {
    flex: .25;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--middle-blue);
    text-align: center;
    border-radius: 5px;
    letter-spacing: 1px;
    font-size: 100%;
}

#sidebar-title-text {
    color: white;
}

.sidebar-project-list {
    flex: 2.25;
    width: 100%;
    border-radius: 5px;
}

.sidebar-main-list {
    margin: 0;
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
}

.sidebar-list-item {
    margin: 0;
    padding: 8px;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    background-color: var(--light-blue);
    height: 25px;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 5px;
    font-size: 100%;
}

#current-p {
    background-color: var(--closetowhite);
    height: 35px;
}

.sidebar-create-new-btn {
    flex: .5;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--middle-blue);
    border-radius: 5px;
}

/* ************************* main body ************************** */
.main-body {
    margin: 0;
    padding: 0;
    flex: 2;
    display: flex;
    flex-direction: column;
}

.main-header {
    margin: 0;
    padding: 0;
    flex: .25;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-icon{
    width: 35px;
    height: 35px;
}
#menu-icon {
    background-image: url('./img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

#header-text {
    color: white;
    letter-spacing: 1px;
}




/* main list content */
.main-list-content {
    flex: 2.75;
    display: flex;
    flex-direction: column;
    /* border: 10px solid var(--black-color); */
    /* margin: 10px; */
    margin: 0;
    padding: 0;
    gap: 10px;
}

.list-container {
    flex: 2.25;
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    background-color: var(--middle-blue);
    border-radius: 5px;
    gap: 50px;
}

.ordered-item-list {
    flex: 2;
    /* height: 100%;
    width: 100%; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
}

.list-item-options {
    flex: .25;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* border: 1px solid violet; */
}

#create-new-item-btn {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.form-main {
    /* justify-content: space-between; */
    gap: 10px;
    width: 75%;
    display: flex;
    /* border: 1px solid violet; */
    /* align-items: center; */
}

.label-new-item {
    text-align: center;
    flex: .5;
}

#input-new-item {
    border-radius: 5px;
    border: none;
    flex: 1.5;
}

#submit-btn {
    flex: .5;
}


/* *********************each item********************* */
.list-item {
    margin: 0;
    padding: 0 10px 0 10px;
    /* list-style-type: none;
    text-decoration: none;
    list-style: none; */
    background-color: var(--closetowhite);
    height: 50px;
    color: black;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 100%;
}

/* #item-text {
    list-style-type: decimal;
    background-color: var(--dark-blue);
} */

.item-options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 15%;
    height: 100%;
}

.item-delete-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#delete-item {
    border: none;
    border-radius: 10px;
    background-color: var(--closetowhite);
}


#delete-icon {
    width: 24px;
    height: 24px;
    background-image: url('./img/delete.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    color: white;
}

.expand-icon-btn {
    background-color: var(--closetowhite);
    border: none;
    flex: 1;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.expand-icon {
    width: 24px;
    height: 24px;
    background-image: url('./img/chevron-down\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
}




.item-details-btn {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--dark-blue); */
    height: 100%;
}
#item-details {
    border: none;
    border-radius: 10px;
}

.item-date-created {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid var(--dark-blue); */
    height: 100%;
}

.expand-container {
    margin: 0;
    padding: 0 8px 0 8px;
    list-style-type: none;
    text-decoration: none;
    list-style: none;
    background-color: var(--closetowhite);
    height: 150px;
    color: black;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 5px;
    font-size: 85%;
}

.details-container {
    flex: .5;
    /* border: 1px solid var(--closetowhite); */
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    /* align-items: center; */
    border-radius: 5px;
    padding: 10px;
}

.details-title {
    color: var(--closetowhite);
    font-size: 100%;
}









/* ******************** general ********************** */

.display {
    display: none;
    animation: ease-in 1s;
}

.btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: var(--closetowhite);
    padding: 10px;
}

.item-btn {
    background-color: black;
    border: none;
    border-radius: 5px;
    color: var(--closetowhite);
    padding: 5px;
    /* width: 50px; */
    width: 65%;
    height: 65%;
    font-size: 75%;
}



